<appSettings>
	<!--Paypal Loging settinhs-->
  <add key="PayPalLogger" value="PayPal.Log.Log4netLogger"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="pageSize" value="4" />
  <add key="pageSizeAjax" value="5" />
  <add key="maxPage" value="5" />

  <!--Custom email-->
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="email phu cua ban, de  lam mail server"/>
  <add key="FromEmailPassword" value="mat khau email cua ban"/>
  <add key="FromName" value="uStora"/>
  <add key="AdminEmail" value="email chinh cua ban, de nhan email tu khach hang"/>
  <add key="CurrentLink" value="http://localhost:7493/"/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="49756"/>
  <add key="MerchantPassword" value="2945801b2eda04c22f6b853f702b0d66"/>
  <add key="MerchantEmail" value="lethanhtuanqn.1999@gmail.com"/>
</appSettings>